#buffer{
	width:100%;
	text-align:center;
}
#preview{
	clear:both;
	position:relative;
	z-index: 1;
	max-width: 800px;
	text-align:center;
	margin: 0 auto;
}
#vcanv {
	display:none;
	display: relative;
}
#vcanv{
	left:0px;
	top:0px;
	z-index: -1;
}
.input-group{
	margin-top:2%;
}

#dldiv{
	margin-top:2%;
}
#video {  
		position:absolute;
		left:39%;
		top:27%;
		z-index: -3;  
}
#snapButton{
	display:none;
}
#editPButton{
	display:none;
}